In [1]:
import numpy as np
import pandas as pd
import scipy as sp
from scipy import stats
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()
%precision 3
%matplotlib inline

In [2]:
1 - sp.stats.chi2.cdf(x=6.667, df=1)

0.009821437357809604

In [3]:
click_data = pd.read_csv('click_data.csv')
click_data

  color  click  freq
0  blue  click    20
1  blue    not   230
2   red  click    10
3   red    not    40

In [4]:
cross = pd.pivot_table(
    data=click_data,
    values='freq',
    aggfunc='sum',
    index='color',
    columns='click'
)
cross

click  click  not
color
blue      20  230
red       10   40

In [5]:
sp.stats.chi2_contingency(cross, correction=False)

(6.666666666666666, 0.009823274507519247, 1, array([[ 25., 225.],
        [  5.,  45.]]))