In [1]:
import pandas as pd
import scipy as sp

In [2]:
fish_multi = pd.read_csv('3-2-1-fish_multi.csv')
fish_multi

  species  length
0       A       2
1       A       3
2       A       4
3       B       6
4       B       8
5       B      10

In [3]:
group = fish_multi.groupby('species')
group.mean()

         length
species
A             3
B             8

In [4]:
group.std(ddof=1)

         length
species
A           1.0
B           2.0

In [5]:
group.describe()

        length
         count mean  std  min  25%  50%  75%   max
species
A          3.0  3.0  1.0  2.0  2.5  3.0  3.5   4.0
B          3.0  8.0  2.0  6.0  7.0  8.0  9.0  10.0

In [6]:
shoes = pd.read_csv('3-2-2-shoes.csv')
shoes

   store color  sales
0  tokyo  blue     10
1  tokyo   red     15
2  osaka  blue     13
3  osaka   red      9

In [7]:
cross = pd.pivot_table(
    data=shoes,
    values='sales',
    aggfunc='sum',
    index='store',
    columns='color'
)
cross

color  blue  red
store
osaka    13    9
tokyo    10   15

In [8]:
cov_data = pd.read_csv('3-2-3-cov.csv')
cov_data

      x   y
0  18.5  34
1  18.7  39
2  19.1  41
3  19.7  38
4  21.5  45
5  21.7  41
6  21.8  52
7  22.0  44
8  23.4  44
9  23.8  49

In [9]:
x = cov_data['x']
y = cov_data['y']
N = len(cov_data)
mu_x = sp.mean(x)
mu_y = sp.mean(y)
cov_sample = sum((x - mu_x) * (y - mu_y)) / N
cov_sample

6.9060000000000015

In [10]:
cov = sum((x - mu_x) * (y - mu_y)) / (N - 1)
cov

7.6733333333333356

In [11]:
sp.cov(x, y, ddof=0)

array([[  3.2816,   6.906 ],
       [  6.906 ,  25.21  ]])

In [12]:
sp.cov(x, y, ddof=1)

array([[  3.64622222,   7.67333333],
       [  7.67333333,  28.01111111]])

In [13]:
sigma_2_x = sp.var(x, ddof=1)
sigma_2_y = sp.var(y, ddof=1)
rho = cov / sp.sqrt(sigma_2_x * sigma_2_y)
rho

0.75927190411370882

In [14]:
sigma_2_x_sample = sp.var(x, ddof=0)
sigma_2_y_sample = sp.var(y, ddof=0)
cov_sample / sp.sqrt(sigma_2_x_sample * sigma_2_y_sample)

0.75927190411370871

In [15]:
sp.corrcoef(x, y)

array([[ 1.       ,  0.7592719],
       [ 0.7592719,  1.       ]])